{% extends "base.html" %}
{% load static %}

{% block content %}

{% if hack_mentors_formset.get_queryset|length > 0 %}
<div class="card">
    <div class="card-body">
        
        <form method="POST" class="hack-award-submission p-3">
            {% csrf_token %}
            {{ hack_mentors_formset.management_form }}
            {% for form in hack_mentors_formset %}
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    {{ form.id|as_crispy_field }}
                    {{ form.display_name|as_crispy_field }}
                </div>
                <div class="col-md-12 col-lg-6">
                    {{ form.mentor|as_crispy_field }}
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary pl-5 pr-5">Save Mentors</button>
                </div>
            </div>
        </form>

    </div>
</div>
{% endif %}

{% endblock %}
