{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row mb-4">
    <div class="col">

        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Add Award for Hackathon</h4>
                </div>
                <div class="card-text">
                    <form method="POST">
                        {% csrf_token %}
                        {{form.hack_award_category|as_crispy_field}}
                        <button type="submit" class="btn btn-primary">Add Award</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% if awards %}
<div class="row">
    <div class="col">
        
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Awards for {{hackathon.display_name}}</h4>
                </div>
                <div class="card-text">
                    {% for award in awards %}
                    <div class="card mb-2">
                        <div class="card-body p-2">
                    
                            <form method="POST" class="edit-awards-form">
                                {% csrf_token %}
                                {{award.hack_award_category }}
                                <button class="btn btn-danger btn-sm float-right">X</button>
                            </form>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}

{% endblock %}