{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
  <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
        integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
    {{ form.media.css }}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    {{ form.media.js }}
{% endblock %}

{% block content %}

  <section class="h-100">
    <div class="row mb-3">
      <div class="col-12">
        {% if hackathon_id %}
          <h1>Edit Hackathon</h1>
        {% else %}
          <h1>Create Hackathon</h1>
        {% endif %}
      </div>
    </div>

    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-12">
          {{ form.display_name|as_crispy_field }}
        </div>
        <div class="col-12">
          {{ form.tag_line|as_crispy_field }}
        </div>
        <div class="col-12">
          {{ form.description|as_crispy_field }}
        </div>
        <div class="col-12">
          {{ form.theme|as_crispy_field }}
        </div>
        <div class="col-12">
          {{ form.organisation|as_crispy_field }}
        </div>
        {% if slack_enabled %}
        <div class="col-12">
            {{ form.channel_name|as_crispy_field }}
        </div>
        <div class="col-12">
            <div id="div_id_channel_admins" class="form-group">
                <label for="id_channel_admins" class="">Channel Admins</label>                    
                {{form.channel_admins }}
                <small id="hint_id_channel_admins" class="form-text text-muted">These users will be added to the channel automatically.</small>
        </div>
        </div>
        {% if hackathon_id and form.channel_url.value %}
        <div class="col-12">
            {{form.channel_url|as_crispy_field }}
        </div>
        {% else %}
        <div class="col-12">
            {{ form.channel_url.as_hidden }}
        </div>
        {% endif %}
        {% endif %}
        <div class="col-12 col-md-6 mb-3">
          {{ form.team_size|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6 mb-3">
          {{ form.status|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6 mb-3">
          {{ form.start_date|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6 mb-3">
          {{ form.end_date|as_crispy_field }}
        </div>
        <div class="col-12 mb-3">
          {{ form.score_categories|as_crispy_field }}
        </div>
        <div class="col-12 col-md-12 mb-3">
          {{ form.is_public|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6 mb-3">
          {{ form.allow_external_registrations|as_crispy_field }}
        </div>
        <div class="col-6 col-md-6 mb-3" id="google-registration-form-wrapper" style="display: none;" >
          {{ form.registration_form|as_crispy_field }}
        </div>
        <div class="col-12 col-md-12 mb-12">
          {{ form.max_participants|as_crispy_field }}
        </div>
        <div class="col-12 mb-5">
          <input type="submit" class="btn-ci mr-2" value="Submit">
          <a href="{% url 'hackathon:hackathon-list' %}" type="button" class="btn-ci button">Cancel</a>
        </div>
      </div>
    </form>

  </section>

{% endblock %}

{% block js %}
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
          integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous">
  </script>
  <script src="{% static 'js/datetimepicker.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const isRegisterCheckbox = document.querySelector('#id_allow_external_registrations');
      const googleRegistrationFormWrapper = document.querySelector('#google-registration-form-wrapper');

      function toggleGoogleRegistrationForm() {
        if (isRegisterCheckbox.checked) {
          googleRegistrationFormWrapper.style.display = 'block';
        } else {
          googleRegistrationFormWrapper.style.display = 'none';
        }
      }

      isRegisterCheckbox.addEventListener('change', toggleGoogleRegistrationForm);

      // Initial check
      toggleGoogleRegistrationForm();
    });
  </script>
{% endblock %}
