{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
        integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
{% endblock %}

{% block content %}

  <!-- TODO : build create Hackathon event form -->
  <h1>Create Hackathon Event</h1>

  <form method="POST" action="">
    {% csrf_token %}
    {{ form.display_name|as_crispy_field }}
    {{ form.description|as_crispy_field }}
    {{ form.theme|as_crispy_field }}
    {{ form.start_date|as_crispy_field }}
    {{ form.end_date|as_crispy_field }}
    <input type="submit" class="btn-ci">
  </form>

{% endblock %}

{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
          integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous">
  </script>
  <script>
    $(document).ready(function () {
      $('#id_start_date').datetimepicker();
      $('#id_end_date').datetimepicker();
    });
  </script>
{% endblock %}
