{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <!-- Render Hackathon details & Registration button -->
    <div class="row">
        <div class="col-md-12 col-lg-4">

            <div class="container">
                <div class="row">
                    <div class="col p-0">
                        {% if hackathon.hackathon_image %}
                        <img class="hackathon-detail-image" 
                            src="{{ hackathon.hackathon_image }}" />
                        {% else %}
                        <img class="hackathon-detail-image" 
                            src="{% static 'img/ci-hackathon--square.png' %}" />
                        {% endif %}
                        {% if user.is_superuser %}
                        <button class="btn btn-secondary btn-sm edit-image" 
                            data-image-type="hackathon_image"
                            data-identifier="{{hackathon.id}}"
                            data-toggle="modal" data-target="#uploadImageModal">
                            <i class="fas fa-pen mr-2"></i>Edit</button>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col p-0">
                        {% if user.is_staff %}
                        <div class="dropdown mt-4 mb-2 ">
                            <button class="btn btn-ci dropdown-toggle form-control" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Admin Actions
                            </button>
                            <div id="judge-dropdown" class="dropdown-menu judge-dropdown" aria-labelledby="dropdownMenuButton">
                                {% include 'hackathon/includes/enrollstaff.html' %}
                                {% if user.is_superuser %}
                                <a role="button" class="dropdown-item" href="/hackathon/{{hackathon.id}}/update/">Edit Hackathon</a>
                                <a class="dropdown-item" href="change_teams">
                                    {% if hackathon.teams.all|length == 0 %}Distribute{% else %}Change{% endif %} Teams
                                </a>
                                <a role="button" class="dropdown-item" href="/hackathon/{{hackathon.id}}/awards/">Change Awards</a>
                                <a role="button" class="dropdown-item" id="change-hack-status" data-toggle="modal" data-target="#changeStatusModal">Change Status</a>
                                <a class="dropdown-item" href="final_score">View Scores</a>
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                            {% include 'hackathon/includes/enrollpart.html' %}
                        {% endif %}
                    </div>  
                </div>

                <div class="row">
                    <div class="col p-0">

                        <div class="card my-3">
                            <div class="card-body text-left hackathon-detailed-items">
                                <p class="hackathon-sub-details"><i class="fas fa-laptop"></i> Theme: {{ hackathon.theme }}</p>
                                {% if request.user.is_staff %}
                                <p class="hackathon-sub-details"><i class="far fa-question-circle"></i> Status: {{ hackathon.status }}</p>
                                <p class="hackathon-sub-details"><i class="fas fa-chalkboard-teacher"></i> Organiser: {{ hackathon.organiser }}</p>
                                {% else %}
                                <p class="hackathon-sub-details"><i class="far fa-question-circle"></i> Status: {{hackathon.status|prettify_status}}</p>
                                {% endif %}
                                <p class="hackathon-sub-details"><i class="far fa-clock"></i> Start: {{ hackathon.start_date }}</p>
                                <p class="hackathon-sub-details"><i class="fas fa-clock"></i> End: {{ hackathon.end_date }}</p>
                                
                                <p class="hackathon-sub-details"><i class="fas fa-school"></i> Organisation: {{ hackathon.organisation }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-lg-8">
            <h1 class="page-title">{{ hackathon.display_name }} #{{ hackathon.id }}</h1>
            <div class="card my-3 hackathon-detail-description">
                <div class="card-body">
                    <p>{{ hackathon.description|safe|linebreaksbr }}</p>
                </div>
            </div>

            <h1 class="page-title" id="teams">Teams:</h1>
            <div class="row teams-row">
                {% if teams %}
                    {% hackathon.status != 'hack_prep' %}
                    {% for team in teams %}
                        <div class="col-sm-12 col-lg-4 my-3">
                            <div class="card team-card">
                                <div class="card-body">
                                    <div class="card-title text-left my-auto">
                                        <a href="{% url 'view_team' team_id=team.id %}" class="ci-link">
                                            <h4 class="team-name">
                                                {{ team }}
                                            </h4>
                                        </a>
                                    </div>
                                    <div class="card-text">
                                        <p class="text-left card-text-title">Team members:</p>
                                        {% for participant in team.participants.get_queryset %}
                                            <p>
                                                <i class="fas fa-user-circle mr-2"></i>
                                                {{ participant.slack_display_name }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                    <!-- Render project submission button if user is participant of team -->
                                    {% if user in hackathon.participants.all %}
                                        {% if user in team.participants.get_queryset %}
                                        <div class="text-left">
                                            {% if hackathon.status == 'hack_in_progress' %}
                                            <a href="/teams/{{team.id}}/project/" class="btn btn-ci">Edit Project</a>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    {% elif user in hackathon.judges.all %}
                                        {% if hackathon.status == 'hack_in_progress' or hackathon.status == 'judging' %}
                                        <div class="text-left">
                                            <a href="/hackathon/{{hackathon.id}}/team/{{team.id}}/judging/"
                                                class="btn btn-ci {% if not team.project%}disabled-link{% endif %}">Edit Scores</a>
                                            <p class="btn-subtitle p-1">{% if not team.project %}No project submitted yet.{% endif %}</p>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-sm-12">
                        <p>Teams have not been distributed yet.</p>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="col-sm-12">
                        <p>Teams have not been distributed yet.</p>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-sm-12">
                    {% include 'hackathon/includes/paginator.html' with page_obj=teams %}
                </div>
            </div>

        </div>
    </div>

    {% include 'upload_image.html' %}
    {% include 'hackathon/includes/change_status.html' %}
{% endblock %}
