{% extends 'base.html' %}

{% load custom_tags %}<!-- for the usage of custom get_range tag -->
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'hackathon/css/hackathon.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container text-center">
    <section>
        <h2>Judging Team {{ team }}</h2>
        <div class="d-flex flex-wrap justify-content-around my-2 my-md-4">
            <div>
                <a href="/teams/{{team.id}}/" class="btn btn-outline-info mb-3 mb-md-0" target="_blank">View Team Page</a>
            </div>
            <div>
                <a href="{{ project.github_url }}" class="btn btn-outline-info mb-3 mb-md-0" target="_blank">View Project Repo</a>
            </div>
            <div>
                <a href="{{ project.deployed_url }}" class="btn btn-outline-info mb-3 mb-md-0" target="_blank">View Deployed Site</a>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <form class="hack-score-form text-center" action="{% url 'hackathon:judging' hackathon.id team.id %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-around">
            {% for category in score_categories %}
            <div class="col-12 col-md-4 mb-3 mb-md-4 p-0 p-md-2">

                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h5 class="hack-score-cat-name"><strong>{{ category }}</strong></h5>
                        </div>
                        <div class="card-text">
                
                            <select required class="custom-select" name="score_{{ category.id }}">
                                <option selected disabled value="">Score</option>
                                <!-- using custom get_range tag -->
                                {% for i in category.max_score|get_range:category.min_score %}
                                {% with score=existing_scores|get_value_from_dict:category.category %}
                                <option value="{{ i }}"{% if score == i %}selected{% endif %}>{{ i }}</option>
                                {% endwith %}
                                {% endfor %}
                            </select>
                            <p>

                            </p>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
        <div class="row d-flex justify-content-center">
            <div class="mt-1 mb-5">
                <button class="btn-lg btn-ci mt-1" type="submit" value="Submit">Submit scores</button>
            </div>
        </div>
        </form>
    </section>

</div>
{% endblock %}
