{% extends 'base.html' %}

{% load my_tags %}<!-- for the usage of custom get_range tag -->

{% block content %}
<div class="container text-center">
    <section>
        <h1>Judging Team {{ team }}</h1>
        <div class="d-flex justify-content-around my-4">
            <div>
                <a href="{{ project.github_url }}" class="btn btn-outline-info" target="_blank">View Project Repo</a>
            </div>
            <div>
                <a href="{{ project.deployed_url }}" class="btn btn-outline-info" target="_blank">View Deployed Site</a>
            </div>
        </div>
    </section>

    <section class="row">
    <!-- form comes here -->
        {% for category in score_categories %}
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-3 input-group ">
                        <select class="custom-select" id="inputGroupSelect01">
                            <option selected>Score</option>
                            <!-- using custom get_range tag -->
							{% for i in category.max_score|get_range:category.min_score %}
							
							<option value="{{ i }}">{{ i }}</option>
							{% endfor %}
                            
                        </select>
                    </div>
                    <div class="col-9 text-left">
                        <h5><strong>{{ category }}</strong></h5>
                        <p>there is no description field of the categories, that could be used here</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </section>

    <div class="mt-4 mb-5">
        <a href="#" class="btn-lg btn-ci mt-4">Submit Scores</a>
    </div>
</div>
{% endblock %}
