{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class = "col-12 col-sm-12 col-md-12 col-lg-6">
        <h1 class="mb-4">Upcoming Hackathons</h1>
    </div>
</div>

<div class="row landing-page">

    <div class = "col-12 col-sm-12 col-md-12 col-lg-6">
        {% if hackathons %}
        {% for hackathon in hackathons %}
            {% if hackathon.status == 'published' %}
                {% if hackathon.organisation.id == 1 or request.user.organisation == hackathon.organisation %}

                {% include 'hackathon/includes/hackathon_card.html' %}

                {% endif %}
            {% endif %}
        {% endfor %}
        {% else %}
        <div class="card">
            <div class="card-body">
                <div class="card-text">
                    There aren't any Hackathons at the moment!
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class = "col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="card">
            <img class="card-img-top" src="{% static 'img/ci-hacking-new-normal--square.png' %}" alt="Code Institute Hackathon Logo">
        </div>
    </div>
</div>

{% endblock %}
