{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<div class="row mt-5 mb-0">
    <div class="col">

        <div class="container mb-5">
            {% if upcoming_hackathons %}
            {% include 'includes/heading.html' with heading_text="Upcoming Hackathons" %}
            <div class="row mb-4">
                {% for hackathon in upcoming_hackathons %}
                {% include 'includes/hackathon_square.html' %}
                {% endfor %}
            </div>
            {% endif %}

            {% if recent_hackathons %}
            {% include 'includes/heading.html' with heading_text="Recent Hackathons" %}
            <div class="row mb-4">
                {% for hackathon in recent_hackathons %}
                {% include 'includes/hackathon_square.html' %}
                {% endfor %}
                {% include 'includes/link_square.html' with label="See All Hackathons" redirect_url="hackathon:hackathon-list" %}
            </div>
            {% endif %}

            {% if winning_showcases %}
            {% include 'includes/heading.html' with heading_text="Recent Winners" %}
            <div class="row">
                {% for showcase in winning_showcases %}
                {% include 'includes/showcase_square.html' %}
                {% endfor %}
                {% include 'includes/link_square.html' with label="See All Showcased Projects" redirect_url="view_showcases" %}
            </div>

            {% endif %}
        </div>
    </div>
</div>  

{% include 'includes/reviews_slider.html' %}

{% endblock %}
