# static/
# media/
__pycache__/
.venv/
.vscode/
.vs/
.env
env.py
*.py[cod]
*.sqlite3
settings.json
.gitpod.yml
venv/
.idea/
MYNOTES.md
staticfiles
data/

# prod setting files
docker-compose.production.yml
nginx.prod.conf
