{% extends 'base.html' %}
{% block content %}
<h2>External Login</h2>
<form action="/accounts/admin/" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-primary btn-sm" value="Sign In">
    <a href="/accounts/password/reset/" class="ml-3">Forgot Your Password?</a>

    <p class="signin-subheading">
        By using the Code Institute Hackathon platform, and by participating
        in any Code Institute Hackathons, you agree to abide by all Code
        Institute policies, including the 
        <a href="http://bit.ly/Slack_Code_Conduct_CI"
            target="_blank">Community Guidelines</a>.
    </p>
</form>
{% endblock %}
