{% extends "base.html" %}

{% block title %}User profile dashboard{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block content %}

    <!-- TO DO : build profile page -->
    <div class="container">
        <div class="row">
          <div class="col-12 col-md-3">
            <div class="card">
              <img class="card-img-top" src="{% static 'img/profiles/profile_cat.png' %}" alt="Card image cap">
              <div class="text-center">
                <span class="mt-2">Welcome: {{ user.username }}</span>
              </div>
            </div>
          </div>
            <!-- User Information -->
            <div class="col-12 col-md-5 text-center">
                <div class="user-info mt-4">
                    <h5>Slack Name:</h5>
                    <p>{{ user.slack_display_name }}</p>
                    <h5>Email:</h5>
                    <p>{{ user.email }}</p>
                    <h5>First Name:</h5>
                    <p>{{ user.user.first_name|title }}</p>
                    <h5>Last Name:</h5>
                    <p>{{ user.user.last_name|title }}</p>
                    <h5>User Type:</h5>
                    <p>{{ user.user_type|title}}</p>
                    <h5>Current LMS module:</h5>
                    <p>{{ user.human_readable_current_lms_module|title}}</p>
                </div>
            </div>
            <!-- User Hackathons -->
            <div class="col-12 col-md-4 text-center">
                <span class="mt-4">Hackath<span class="ci-orange">o</span>n Hall</span>
                <div class="card hackathon-card">
                  <div class="card-body">
                    <h5 class="card-title">Hackath<span class="ci-orange">o</span>n #1</h5>
                    <a href="#" class="btn btn-ci">Go somewhere</a>
                  </div>
                </div>
                <div class="card hackathon-card">
                  <div class="card-body">
                    <h5 class="card-title">Hackath<span class="ci-orange">o</span>n #2</h5>
                    <a href="#" class="btn btn-ci">Go somewhere</a>
                  </div>
                </div>
                <div class="card hackathon-card">
                  <div class="card-body">
                    <h5 class="card-title">Hackath<span class="ci-orange">o</span>n #3</h5>
                    <a href="#" class="btn btn-ci">Go somewhere</a>
                  </div>
                </div>
                <div class="card hackathon-card">
                  <div class="card-body">
                    <h5 class="card-title">Hackath<span class="ci-orange">o</span>n #4</h5>
                    <a href="#" class="btn btn-ci">Go somewhere</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
