{% load static %}

{% if upcoming_hackathons %}
<div class="row">
    <div class="col pl-0">
        <h1 class="index-square-heading">Upcoming Hackathons</h1>
    </div>
</div>

<div class="row">
    {% for hackathon in upcoming_hackathons %}
    <div class="col-sm-12 col-md-6 col-lg-3 index-square">
        {% if hackathon.hackathon_image %}
        <div class="index-square-content" style="background-image: url('{{hackathon.hackathon_image}}')">
        {% else %}
        <div class="index-square-content" style="background-image: url({% static 'img/ci-hackathon--square.png' %})">
        {% endif %}
            {% if request.user.is_authenticated %}
            <a href="{% url 'hackathon:view_hackathon' hackathon_id=hackathon.id %}">
            {% else %}
            <a href="{% url 'hackathon:view_hackathon_public' hackathon_id=hackathon.id %}">
            {% endif %}
                <div class="index-square-text">
                    <h1>{{hackathon.display_name}}</h1>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
