{% load static %}

{% if winning_showcases %}
<div class="row mt-3">
    <div class="col pl-0">
        <h1 class="index-square-heading">Winning Projects</h1>
    </div>
</div>

<div class="row">
    {% for showcase in winning_showcases %}
    <div class="col-sm-12 col-md-6 col-lg-3 index-square">
        {% if showcase.showcase_image %}
        <div class="index-square-content" style="background-image: url('{{showcase.showcase_image}}')">
        {% else %}
        <div class="index-square-content" style="background-image: url({% static 'img/hackathon-bg.png' %})">
        {% endif %}
            <a href="showcase/{{showcase.id}}">
                <div class="index-square-text">
                    <h1>{{showcase.display_name}}</h1>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
    <div class="col-sm-12 col-md-6 col-lg-3 index-square">
        <div class="index-square-content more">
            <a href="{% url 'hackathon:hackathon-list' %}">
                <div class="index-square-text">
                    <h1>See All Showcased Projects</h1>
                </div>
            </a>
        </div>
    </div>
</div>
{% endif %}
