{% load static %}

<div class="row mt-3 mb-2 mt-4 ml-4"> 
    <div class="col">
        <h3>Project: {{ team.project.display_name}}</h3>
    </div>
</div>

<div class="row mt-3 mb-5 ml-4 mr-4"> 
    <div class="col-md-12 col-lg-3">
        <div class="card">
            <img src="{% static 'img/ci-hackathon--square.png' %}" width="100%" />
        </div>
    </div>
    <div class="col-md-12 col-lg-9">

        <div class="card mb-2">
            <div class="card-body mb-0">
                <div class="card-title">
                    <h4>Description</h4>
                </div>
                <div class="card-text">
                    {{team.project.description}}
                </div>
            </div>

            <div class="card-body">
                <div class="card-title">
                    <h4>Technology Used</h4>
                </div>
                <div class="card-text">
                    {% if team.project.technologies_used %}
                        {{team.project.technologies_used}}
                    {% else %}
                        <N>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>