{% load static %}

<div class="card card-no-border team-member-card ml-auto mr-auto">
    {% if member.website_url %}
    <a href="{{member.website_url}}" target="_blank" class="ci-link"><h6 class="card-text text-center mb-3">{{member.full_name}}</h6></a>
    {% else %}
    <h6 class="card-text text-center mb-3">{% if not member.full_name %}{{member.slack_display_name}}{% else %}{{member.full_name}}{% endif %}</h6>
    {% endif %}
    {% if member.profile_image %}
        <img class="card-img-top team-member-img"
            src="{{member.profile_image}}" alt="Profile Image">
    {% else %}
    <!-- Greasemann, CC BY-SA 4.0 <https://creativecommons.org/licenses/by-sa/4.0>, via Wikimedia Commons -->
    <img class="card-img-top team-member-img"
        src="{% static 'img/profiles/profile.png' %}" alt="Profile Image">
    {% endif %}
</div>
