{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/allauthstyles.css' %}" />
{% endblock %}

{% block allauth %}
    <h1>{% trans "Verify Your E-mail Address" %}</h1>
    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not
        receive it within a few minutes.{% endblocktrans %}</p>

{% endblock %}

{% block authhacklogo %}
    <div class="card mt-4">
        <img class="card-img-top" src="{% static 'img/ci-hacking-new-normal--square.png' %}" alt="Code Institute Hackathon Logo">
    </div>
{% endblock %}