/* Overwrite Bootstrap Card styles for the user-panel menu items */

.user-info .card-header,
.user-panel .text-center span,
.card .card-header .btn,
.card .card-body a {
    text-decoration: none;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
}

.card {
    width: 100%;
}

/* Overwrite Bootstrap Card styles for the Hackathon Card items */

.card-body a,
.hackathon-card {
    margin-bottom: 2px;
}

.user-info span,
.card .hackathon-card .btn {
    color: var(--p-grey);
}

.user-info label {
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 100%;
    color: var(--p-orange);
}

.user-info p {
    font-size: 1.2rem;
}

.profile-about {
    white-space: pre-wrap;
}

.edit-profile div form p label {
    display: block;
}

.card .card-body p.profile-website-url a {
    text-transform: lowercase;
    font-size: 1rem;
}
/* For specific color targeting of 'o' chars in keeping with the CI Logo */

.ci-orange {
    color: var(--p-orange);
}

hr.thick {
    border: 2px solid var(--p-orange);
    border-radius: 2px;
}

/* Target specific text with heavier font weight */

html form label,
.dark-text {
    font-weight: 700;
}