:root {
    /* P = Primary | S = Secondary | T = Tertiary */
    --p-orange: #E84610;
    --p-blue: #009FE3;
    --p-grey: #4A4A4F;
    --p-navy: #445261;
    --p-red: #D63649;
    --s-grey: #E6ECF0;
    --s-yellow: #EFB920;
    --s-pink: #FF5A60;
    --s-teal: #23BBBB;
    --t-grey: #E0E7FF;
    --white: #FFFFFF;
    --black: #000000;
    --bg-grey: #F5F5F5;
}

.user-panel {
    background: var(--p-grey);
    color: var(--s-grey);
}

.user-panel #accordion .card .card-header {
    padding: 0.05rem 0.25rem;
}


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    background-color: var(--bg-grey);
    color: var(--p-grey);
}

a:hover {
    text-decoration: none;
}

/* NAVBAR */
.navbar {
    background-color: var(--white);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .2);
}

.navbar-brand {
    background: url("../img/ci-logo.svg") no-repeat center;
    height: 40px;
    width: 200px;
}

.navbar-nav .nav-item {
    margin: 0 1em;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--p-orange);
}

/* MAIN */
main {
    margin-top: 2em;
    flex: 1 0 auto;
}

/* BUTTONS */
.btn-ci {
    background-color: transparent;
    color: var(--p-orange);
    border: 3px solid var(--p-orange);
    transition: all .4s;
}

.btn-ci:hover {
    background-color: var(--p-orange);
    color: var(--s-grey);
}

/* FOOTER */
footer {
    flex-shrink: 0;
    color: var(--s-grey);
    background-color: var(--p-grey);
}

footer h4 {
    margin: 20px 0;
    font-weight: 500;
    letter-spacing: 1px;
}

footer p {
    text-align: justify;
}

footer a:hover {
    color: var(--p-orange);
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li a {
    color: var(--s-grey);
}

.github-wrapper {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.copyright-wrapper {
    margin: 5px 0;
    text-align: center;
}

.copyright-wrapper p {
    text-align: center;
}

.copyright-wrapper a {
    color: var(--s-grey);
}

.fab {
    font-size: 200%;
    margin: 0 20px;
    color: var(--s-grey);
    transition: transform .4s;
}

.fab:hover {
    transform: scale(1.3);

/* TEXT */
.p-orange {
    color: var(--p-orange);  
}

.p-blue {
    color: var(--p-blue);  
}

/* CARDS */
.card-link:hover {
    color: rgba(0, 0, 0, .7); 
}

.card-title {
    font-family: Rubik, sans-serif;
}

/* PAGINATION */
.page-item .page-link {
    color: var(--p-orange);
}

.page-item.active .page-link {
    background-color: var(--p-orange);
    border-color: var(--p-orange);
}