:root {
  /* P = Primary | S = Secondary | T = Tertiary */
  --p-orange: #e84610;
  --p-blue: #009fe3;
  --p-grey: #4a4a4f;
  --p-navy: #445261;
  --p-red: #d63649;
  --s-grey: #e6ecf0;
  --s-yellow: #efb920;
  --s-pink: #ff5a60;
  --s-teal: #23bbbb;
  --t-grey: #e0e7ff;
  --white: #ffffff;
  --black: #000000;
  --bg-grey: #f5f5f5;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  background-color: var(--bg-grey);
  color: var(--p-grey);
}

/* NAVBAR */
.navbar {
  background-color: var(--white);
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  background: url("../img/ci-logo.svg") no-repeat center;
  height: 40px;
  width: 200px;
}

.navbar-nav .nav-item {
  margin: 0 1em;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--p-orange);
}

/* MAIN */
main {
  margin-top: 2em;
  flex: 1 0 auto;
}

/* BUTTONS */
.btn-ci {
  background-color: transparent;
  color: var(--p-orange);
  border: 3px solid var(--p-orange);
  transition: all 0.4s;
}

.btn-ci:hover {
  background-color: var(--p-orange);
  color: var(--s-grey);
}

/* FOOTER */
footer {  
  flex-shrink: 0;
  color: var(--s-grey);
  background-color: var(--p-grey);
}

footer p {
  text-align: justify;
}

footer a:hover {
  color: var(--p-orange);
  text-decoration: none;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li a {
  color: var(--s-grey);
}

footer h4,
.copyright-wrapper {
  margin: 20px 0;
}

.github-wrapper {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.copyright-wrapper {
  margin: 5px 0;
  text-align: center;
}

.copyright-wrapper p {
  text-align: center;
}

.copyright-wrapper a {
  color: var(--s-grey);
}

.fab {
  font-size: 200%;
  color: var(--s-grey);
}

@media only screen and (min-width: 768px) {
  
}
