<!-- extends profile page to render form in edit_profile block on profile page -->
{% extends 'profiles/profile.html' %}

{% block title %}Edit User Profile{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/allauthstyles.css' %}" />
{% endblock %}

{% block edit_profile %}
<hr class="w-100 mb-1 thick mt-4">
<h1 class="edit_title dark-text">Edit Profile</h1>
<hr class="w-100 mb-1">
{% for message in messages %}
<div class="alert alert-warning">
	{{ message }}
</div>
{% endfor %}
<div class="edit_form mt-3 mb-3">
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<hr class="w-100 mb-1">
		<div class="d-flex flex-row-reverse">
			<button class="btn btn-ci ml-3 mt-3" type="submit" title="Submit your changes">Submit</button>
			<button class="btn btn-ci mt-3" href="{% url 'edit_profile' %}" title="Back to profile">Cancel</button>
		</div>
	</form>
</div>
{% endblock %}