<!-- extends profile page to render form in edit_profile block on profile page -->
{% extends 'profiles/profile.html' %}

{% block title %}Edit User Profile{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block edit_profile %}
<hr class="w-100 mb-1 thick mt-4">
<h1 class="edit_title dark-text">Edit Profile</h1>
<hr class="w-100 mb-1">
{% for message in messages %}
<div class="alert alert-warning">
	{{ message }}
</div>
{% endfor %}
<div class="edit_form mt-3">
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<hr class="w-100 mb-1">
		<button class="btn btn-ci mt-3" type="submit">Submit</button>
		<button class="btn btn-ci mt-3" href="{% url 'edit_profile' %}">Cancel</button>
		<hr class="w-100 thick mb-1">
	</form>
</div>
{% endblock %}