<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <h4>Policies</h4>
            <ul>
                <li>
                    <a href="http://bit.ly/Slack_Code_Conduct_CI" target="_blank">Community Guidelines</a>
                </li>
                <li>
                    <!-- To link to own Privacy Policy page once built -->
                    <a href="https://codeinstitute.net/privacy-policy/" target=" _blank">Privacy Policy</a>
                </li>
                <li>
                    <!-- To link to own Plagiarism Policy page once built -->
                    <a href="{% url 'plagiarism_policy' %}" target="_blank">Plagiarism Policy</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3">
            <h4>
                Resources
            </h4>
            <ul>
                <li>
                    <a href="{% url 'faq' %}">FAQ</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'resources' %}">Useful Resources</a>
                </li>
                {% endif %}
                <li>
                    <a href="https://codeinstitute.net/">Code Institute</a>
                </li>

            </ul>
        </div>
        <div class="col-md-6">
            <h4>
                About Us
            </h4>
            <p>
                Code Institute's mission is to change lives and careers by
                delivering online, accelerated coding courses that are
                University Credit rated and Jobs focused, enhanced by
                technology but delivered by people.
            </p>
        </div>
        <hr>
        <div class="col github-wrapper">
            <a href="https://www.facebook.com/Code.InstituteIRL/" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://twitter.com/codersinstitute" target="_blank">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="https://www.linkedin.com/school/code-institute/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Code-Institute-Community/ci-hackathon-app" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
    <div class="col copyright-wrapper">
        <p>
            <a href="https://codeinstitute.net/" target=" _blank">&copy; 2020 Code Institute</a>
        </p>
    </div>
</div>
