{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-navbar">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand"></a>
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarHackathons" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Hackathons
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarHackathons">
                        <a class="dropdown-item" href="{% url 'hackathon:hackathon-list' %}">View Hackathons</a>
                        <!-- Create event link only available for admin users -->
                        {% if user.is_authenticated and user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'hackathon:create_hackathon' %}">Create Hackathon</a>
                        {% endif %}
                        <a class="dropdown-item" href="#">Winning Projects</a>
                        <a class="dropdown-item" href="#">Awards</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarResources" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarResources">
                        <a class="dropdown-item" href="#">FAQs</a>
                        <a class="dropdown-item" href="{% url 'judging_criteria' %}">Judging Criteria</a>
                        <a class="dropdown-item" href="{% url 'resources' %}">Useful Resources</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarAccount" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarAccount">
                        {% if not user.is_authenticated %}
                            <a class="dropdown-item" href="{%  url 'account_signup' %}">Register</a>
                            <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
