{% load static %}
{% load account_tags %}

{% load account socialaccount %}
{% get_providers as socialaccount_providers %}

{% with authorised_admins='SUPERUSER,FACILITATOR_ADMIN,PARTNER_ADMIN' %}
<nav class="navbar navbar-expand-lg navbar-light bg-navbar">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand"></a>
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if request.user.user_type|is_types:authorised_admins %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarHackathons" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Hackathons
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarHackathons">
                        <!-- TODO: Separate between different admin users -->
                        <a class="dropdown-item" href="{% url 'hackathon:create_hackathon' %}">Create Hackathon</a>
                        <a class="dropdown-item" href="{% url 'hackathon:hackathon-list' %}">View Hackathons</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'hackathon:hackathon-list' %}">Hackathons</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarResources" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarResources">
                        <a class="dropdown-item" href="{% url 'faq' %}">FAQs</a>
                        <a class="dropdown-item" href="{% url 'resources' %}">Useful Resources</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faq' %}">FAQs</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_showcases' %}">Project Showcase</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarAccount" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarAccount">
                        {% if not user.is_authenticated %}
                            {% if not socialaccount_providers%}
                            <a class="dropdown-item" href="{%  url 'account_signup' %}">Register</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                            {% if request.user.user_type|is_type:"SUPERUSER" %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank">Django Admin</a>
                            {% endif %}
                            {% if request.user.user_type|is_types:authorised_admins %}
                                <a class="dropdown-item" href="{% url 'hackadmin:hackadmin_panel' %}">Hack Admin</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endwith %}
