{% if request.user not in hackathon.participants.all %}
<form id="enroll-form" action="{% url 'hackathon:enroll_toggle' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="enrollment-type" value="judge" />
    <input type="hidden" name="hackathon-id" value="{{ hackathon.id }}" />
    <button id="enroll-judge" type="submit" class="dropdown-item" 
        {% if hackathon.status == 'finished' or hackathon.status == 'deleted' %}
            disabled
        {% endif %}
    >
        {% if user in hackathon.judges.all %}
        <i class="fas fa-user-times mr-2"></i>Withdraw as Judge
        {% else %}
        <i class="fas fa-user-plus mr-2"></i>Enroll as Judge
        {% endif %}
    </button>
</form>
{% endif %}
{% if request.user not in hackathon.judges.all %}
<form id="enroll-form" action="{% url 'hackathon:enroll_toggle' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="hackathon-id" value="{{ hackathon.id }}" />
    <button id="enroll-judge" type="submit" class="dropdown-item" 
        {% if hackathon.status == 'finished' or hackathon.status == 'deleted' %}
            disabled
        {% endif %}
    >
        {% if user in hackathon.participants.all %}
        <i class="fas fa-user-times mr-2"></i>Withdraw as Participant
        {% else %}
        <i class="fas fa-user-plus mr-2"></i>Enroll as Participant
        {% endif %}
    </button>
</form>
{% endif %}

