<form id="enroll-form" action="{% url 'hackathon:enroll_toggle' %}" method="POST">
    {% csrf_token %}
    <!--It only sends the hackathon ID.-->
    <input type="hidden" name="hackathon-id" value="{{ hackathon.id }}" />
    <!-- Must be one long string for the JS script to switch words correctly.
    An alternative would be to have two different buttons.-->
    <button id="enroll-judge" type="submit" class="btn btn-ci mb-2">{% if user in hackathon.judges.all %}Withdraw as Judge{% else %}Enroll as Judge{% endif %}</button>
</form>
