{% if hackathon.status == 'registration_open' %}
<form id="enroll-form" action="{% url 'hackathon:enroll_toggle' %}" method="POST">
    {% csrf_token %}
    <!--It only sends the hackathon ID.-->
    <input type="hidden" name="hackathon-id" value="{{ hackathon.id }}" />
    <!-- Must be one long string for the JS script to switch words correctly.
    An alternative would be to have two different buttons.-->
    <button id="enroll-part" type="submit" 
        class="btn btn-ci mt-4 mb-2 form-control">
        {% if user in hackathon.participants.all %}
            Withdraw from the Hackaton
        {% else %}
            Enroll as Participant
        {% endif %}
    </button>
</form>
{% else %}
<div class="enrollments-closed mt-4 mb-2 p-3">
    {% if request.user in hackathon.participants.all %}
        {% if hackathon.status == 'hack_in_progress' or hackathon.status == 'judging' or hackathon.status == 'hack_prep' %}
        You are participanting in this hackathon.
        {% elif hackathon.status == 'finished' %}
        You participated in this hackathon.
        {% endif %}
    {% else %}
    Registrations for this hackathon are currently not open.
    {% endif %}
</div>

{% endif %}
