{% extends "base.html" %}
{% load static %}
{% load teams_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'hackathon/css/hackathon.css' %}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col teams-page">

        <div class="container-fluid">
            <div class="row teams-header" style="background-image:url({% static '/img/ci-hackathon--horizontal.png' %})">
                <div class="team-name">
                    <h2>Team: <i>{{team}}</i></h2>
                </div>
            </div>
            
            <div class="row mt-3">              
                {% for member in team.participants.all %}
                    <div class="col-sm-12 col-lg-3 my-3">
                        {% include 'includes/member.html' %}
                    </div>
                    {% if forloop.counter|modulo:4 %}
                </div>
                    <div class="row mt-3">  
                    {% endif %}
                    
                {% endfor %}
            </div>
        </div>

    </div>
</div>


{% endblock %}
