{% extends "base.html" %}
{% load static %}
{% load teams_tags %}
{% load account_tags %}

{% block extra_meta %}

{% if showcase %}
<meta property='og:title' content='{{showcase.hack_project.display_name}}'/>
    {% if showcase.get_image %}
    <meta property='og:image' content='{{showcase.image_url}}'/>
    {% endif %}
<meta property='og:description' content='{{showcase.hack_project.description}}'/>
<meta property='og:url' content='{{showcase.url}}'/>
<meta property='og:author' content='Team {{showcase.hack_project.hackteam.display_name}}'/>
{% endif %}

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'hackathon/css/hackathon.css' %}" />
{% endblock %}

{% block content %}

{% with authorised_types='SUPERUSER,STAFF,FACILITATOR_ADMIN,FACILITATOR_JUDGE,PARTNER_ADMIN,PARTNER_JUDGE' %}
<div class="row">
    <div class="col teams-page">

        <div class="container-fluid">
            {% if team.header_image %}
            <div class="row teams-header" 
                style="background-image:url('{{ team.header_image }}')">
            {% else %}
            <div class="row teams-header" 
                style="background-image:url({% static 'img/ci-hackathon--horizontal.png' %})">
            {% endif %}
                <div class="team-name">
                    {% if request.user in team.participants.all and not showcase and team.hackathon.status == 'hack_in_progress' %}
                    <button class="btn btn-secondary btn-sm edit-image"
                        data-image-type="header_image"
                        data-identifier="{{team.id}}"
                        data-toggle="modal" data-target="#uploadImageModal">
                        <i class="fas fa-pen mr-2"></i>Edit</button>
                    {% endif %}
                    <h2>Team: <i>{{team}}</i>
                        {% if request.user in team.participants.all and not showcase and team.hackathon.status == 'hack_in_progress' %}
                        <a role="button" data-toggle="modal" data-target="#renameTeamModal">
                        <i class="fas fa-pen ml-3" title="Rename team"></i></a>
                        {% endif %}
                    </h2>
                </div>
            </div>

            <div class="row mb-2 mt-5 ml-4"> 
                <div class="col">

                    <h3>About the team</h3>
                    {% if request.user in team.participants.all or request.user == team.mentor or request.user.user_type|is_types:authorised_types %}
                    
                    <p>
                        <strong class="mr-2">Facilitator:</strong>
                        {% if team.mentor %}
                        <a class="ci-link" href="{{mentor_profile}}">{{team.mentor}}</a>
                        {% else %}
                        No Facilitator assigned
                        {% endif %}
                    </p>
                    {% endif %}
                    <div class="team-menu-dropdown-container">
                        <div class="dropdown mb-2">
                            <button class="btn btn-ci dropdown-toggle form-control" 
                            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Team Actions
                            </button>
                            <div id="teams-dropdown" class="dropdown-menu teams-dropdown" aria-labelledby="dropdownMenuButton">
                                {% include 'includes/create_slack_mpim.html' %}
                                <a role="button" class="dropdown-item" href="{% url 'view_team_calendar' team_id=team.id %}">
                                    <i class="far fa-calendar-alt mr-3"></i> View Team Calendar
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    {% if showcase %}
                    <div class="share-linkedin">
                        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                        <script type="IN/Share" data-url="{{showcase.url}}"></script>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-3 team-members-display">              
                <div class="col my-3 text-center">
                    {% if showcase %}

                        {% for member in showcase.showcase_participants.all %}
                        {% include 'includes/showcase_member.html' %}
                        {% endfor %}

                        {% for anon in anon_members %}
                        {% include 'includes/anon_member.html' %}
                        {% endfor %}
                    
                    {% else %}

                        {% for member in team.participants.all %}
                        {% include 'includes/member.html' %}
                        {% endfor %}

                    {% endif %}
                </div>
            </div>
            
            {% if team.project %}
                {% if request.user.user_type|is_types:authorised_types or team.project.share_permission or request.user in team.participants.all %}
                    {% if request.user in team.hackathon.participants.all and request.user not in team.participants.all and request.user.user_type|is_types:authorised_types %}
                        {% include 'includes/project_not_visible.html' %}
                    {% else %}
                        {% include 'includes/project.html' %}
                    {% endif %}
                {% else %}
                    {% include 'includes/project.html' %}
                {% endif %}
            {% else %}
                {% include 'includes/empty_project.html' %}
            {% endif %}
        </div>

    </div>
</div>
{% endwith %}

{% include 'upload_image.html' %}
{% include 'includes/rename_team.html' %}

{% endblock %}

{% block js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
