{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/allauthstyles.css' %}" />
{% endblock %}

{% block allauth %}
    <h1>{% trans "Sign Up Closed" %}</h1>
    <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
{% endblock %}

{% block authhacklogo %}
    <div class="card mt-4">
        <img class="card-img-top" src="{% static 'img/ci-hacking-new-normal--square.png' %}" alt="Code Institute Hackathon Logo">
    </div>
{% endblock %}