{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-12">

        <h1 class="text-center">Featured Projects</h1>
        <div id="carousel-project-showcase" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for top_result in top_results %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <a href="/showcase/{{ top_result.id }}">
                        <img src="{{ top_result.showcase_image }}" class="d-block w-100" alt="{{ top_result.display_name }} Showcase Image">
                    </a>
                </div>
                {% endfor %}
            </div>
            <ol class="carousel-indicators">
                {% for top_result in top_results %}
                <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
                {% endfor %}
             </ol>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-12">
        {% for showcase in all_showcases %}
        {% endfor %}
    </div>
</div>

{% endblock %}