{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row my-4">
    <div class="col-12 text-center mb-3">
        <h1>Hackathon Code of Conduct</h1>
        <p class="mt-2">At Code Institute, our hackathons are fast-moving, collaborative events that thrive on active
            participation and teamwork. They provide exciting opportunities to learn and innovate, but the pace can be
            intense. We encourage participants to consider whether this environment aligns with their personal
            preferences and availability. Ensuring you're comfortable with the demands of the event will help you and
            your team make the most of the experience, while maintaining a mindful approach to your well-being and that
            of others.</p>

        <ol class="text-left">
            <li><strong>Adherence to Code Institute Policies and Procedures:</strong> By participating, you agree to
                follow this Code of Conduct and accept all decisions made by Code Institute regarding violations. All
                decisions are final. All participants must, in addition to this Code of Conduct, abide by and respect
                all additional relevant policies and procedures of Code Institute and the Code Institute Community,
                including the <a href="https://codeinstitute.net/se/code-conduct-slack-community/" target="_blank">Community Guidelines and Code of Conduct</a> and the <a href="https://learn.codeinstitute.net/ci_support/diplomainsoftwaredevelopmentecomm/support">Safeguarding Policy</a>. Please be sure to
                familiarise yourself with these documents.</li>
            <li><strong>Safeguarding:</strong> If you have any safeguarding concerns, report them to a Designated
                Safeguarding Lead (DSL) or via the <a href="https://docs.google.com/forms/d/e/1FAIpQLSf1pM-9tXi1A-jE17LmFbFSEKVtWWjsCuzyr_gt5Ao3Z_ceBw/viewform" target="_blank">Safeguarding Referral Form</a>. All concerns will be handled in line with
                our Safeguarding Policy.</li>
            <li><strong>PREVENT Duty:</strong> Any behaviour promoting extremism or radicalisation is prohibited. If you witness or suspect any attempts to draw
                participants into extremist views, please report this immediately to our Designated Safeguarding Leads
                (DSLs) or via the <a href="https://docs.google.com/forms/d/e/1FAIpQLSf1pM-9tXi1A-jE17LmFbFSEKVtWWjsCuzyr_gt5Ao3Z_ceBw/viewform" target="_blank">Safeguarding Referral Form</a>.</li>
            <li><strong>Appropriate Behaviour:</strong> Participants must respect all participants, facilitators,
                HackTeam, and staff. Discrimination, harassment, or abusive language based on any protected
                characteristic is strictly prohibited.</li>
            <li><strong>Participation and Communication:</strong> Only register if you can commit to a minimum of 3
                hours per day. Team communication must take place within the team Slack channel to ensure visibility and
                support from facilitators.</li>
            <li><strong>Withdrawal:</strong> If you need to leave the event, inform your team or the Community Team.
                Failure to notify may result in disqualification from future hackathons.</li>
            <li><strong>Teamwork and Well-being:</strong> Teams must ensure that all members can contribute and feel
                valued. Experienced members should offer guidance to less experienced teammates. Your well-being is
                important to us. Take regular breaks and take a step back as needed. Please reach out to the Community
                Team if you feel overwhelmed.</li>
            <li><strong>Reporting Violations:</strong> Report violations of this Code of Conduct, the Community
                Guidelines, or Safeguarding Policy to the Community Team. For safeguarding issues, contact a DSL or
                complete the referral form.</li>
            <li><strong>Judging and Feedback:</strong> Judges’ decisions are final. Due to time constraints, we are
                unable to provide detailed feedback on individual projects or scores.</li>
            <li><strong>Project Ownership and Data Protection:</strong> Participants retain ownership and legal
                responsibility of their projects. By submitting, participants grant Code Institute a non-exclusive,
                royalty-free, perpetual licence to use, display, and showcase the project for educational, marketing,
                and community purposes. Participants must ensure compliance with data protection laws (including GDPR)
                in their submissions. Code Institute will manage all submitted data in accordance with its privacy
                policy.</li>
            <li><strong>Content Standards:</strong> Projects must be free of harmful, graphic, or inappropriate material
                and must adhere to relevant laws. Violating projects will be removed, and teams may be disqualified.
                This is at the complete discretion of Code Institute.</li>
        </ol>
    </div>
</div>

{% endblock %}
