{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Plagiarism Policy</h1>
<p>
    Plagiarism, as defined by the Oxford dictionary is “the practice of taking
    someone else's work or ideas and passing them off as one's own.” It is a
    serious academic offence for which there are serious consequences.
</p>
<p>
    It is acceptable to use and reference others’ code however it is an
    academic plagiarism offence if any piece of work which is not entirely the
    students own is not correctly referenced or acknowledged. All student
    projects submitted will be reviewed for plagiarism. This includes checking
    code comparison tools, plagiarism software, review of git commit history
    and other mechanisms.
</p>
<p>
    It is the responsibility of each student to ensure that any direct or
    indirect inclusion of the work of others is fully and adequately
    acknowledged. We appreciate that plagiarism may be unintentional however
    it will still be treated as an offence. The Tutoring team can answer any
    plagiarism related queries, but as a general rule, if in doubt, include
    attribution of all sources.
</p>
<p>
    Students are encouraged to ask mentors, tutors and their peers for advice
    about their project work but any submission should not include any code
    written by others unless it is explicitly credited to them. Failure to
    correctly credit code that a student hasn’t created themselves will be
    considered plagiarism and will result in a failing grade. Blatant or
    repeat offences of plagiarism will not be tolerated and will result in
    stringent penalties being applied, including removal from the course.
</p>

{% endblock %}
