.hack-score-form {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.hack-score-cat-name {
    min-height: 60px;
    margin-bottom: 0;
}

.hack-card {
    margin-bottom: 3.2rem;
}

@media screen and (max-width: 720px) {
    .hack-score-cat-name {
        min-height: 30px;
    }
    /* .hack-score-cat-name, h5 {
        font-size: 1rem;
    } */

}