{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="my-5">
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}
</div>
    <h1 class="mt-3 pb-3">Submit your project</h1>
    <form id="submission_form" action="{% url 'submit' %}" name ="submission_form" method="POST" class="py-5">
        {% csrf_token %}
        {{ submission_form.display_name | as_crispy_field }}
        {{ submission_form.speaker_name | as_crispy_field }}
        {{ submission_form.description | as_crispy_field }}
        {{ submission_form.github_url | as_crispy_field }}
        {{ submission_form.deployed_url | as_crispy_field }}
        <p class="pt-2">Do you consent to your project being shared on Code Institute marketing sites?<input type="checkbox" name="share_permission"><br></p>
        <button class="btn btn-ci mt-4" type="submit">Submit</button>
    </form>
{% endblock %}
