{% extends 'base.html' %}
{% load hackadmin_tags %}
{% load account_tags %}

{% block content %}

{% include 'includes/back_button.html' with redirect_url="/hackadmin/" button_label="Back To HackAdmin" %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Hackathon Stats</div>
                <div class="card-text">

                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <label for="hackathonFilter">
                                <select id="hackathonFilter" class="form-control">
                                    <option value="0">All Hackthons</option>
                                    {% for hackathon in hackathons %}
                                    <option value="{{hackathon.id}}">{{hackathon.display_name}}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="col-md-12 col-lg-2">
                            User Count: <span id="userCount">{{ users|length }}</span>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <button class="btn btn-primary btn-sm float-right" id="downloadUsers">Export Users</button>
                        </div>
                    </div>
                    

                    <table class="table table-sm mt-5" id="usersTable">
                        <thead>
                          <tr>
                            <th scope="col">Slack Display Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Current LMS Module</th>
                            <th scope="col">Privileges</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                          <tr data-hackathons="{% for hackathon in user.participated_hackathons.all %}{{hackathon.id}},{% endfor %}">
                            <td>
                                {{ user.slack_display_name }}
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                {{ user.current_lms_module }}
                            </td>
                            <td>
                                {{user.user_type|readable_user_type}}
                            </td>
                            <td>
                                <button class="hackadmin-add-participant" data-toggle="modal" data-target="#addParticipantsModal"
                                    data-participant-id="{{user.id}}" title="Add participant to Hackaton and Team">
                                    <i class="fas fa-user-plus"></i>
                                </button>
                                {% with authorised_types='SUPERUSER,STAFF,FACILITATOR_ADMIN,FACILITATOR_JUDGE,PARTNER_ADMIN,PARTNER_JUDGE' %}
                                {% if user.user_type|is_types:authorised_types %}
                                <button class="hackadmin-add-judge ml-2" data-toggle="modal" data-target="#addJudgesModal"
                                    data-judge-id="{{user.id}}" title="Add to Judges">
                                    <i class="fas fa-gavel"></i>
                                </button>
                                {% endif %}
                                {% endwith %}
                            </td>
                          </tr>
                          {% endfor %}
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

{% include 'includes/add_participant.html' %}
{% include 'includes/add_judge.html' %}

{% endblock %}
