{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Hack Admin</div>
                <div class="card-text">
                    <div>
                        <a href="/hackadmin/all_users/" class="ci-link">View All Users</a>
                    </div>
                    {% if hackathons %}
                    <table class="table table-sm mt-5" id="usersTable">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th scope="col">Display Name</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col"># Participants</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for hackathon in hackathons %}
                          <tr>
                            <td>
                                {{ hackathon.id }}
                            </td>
                            <td>
                                <a href="/hackadmin/{{hackathon.id}}/participants/" class="ci-link">{{ hackathon.display_name }}</a>
                            </td>
                            <td>
                                {{ hackathon.start_date|date:"N, d Y H:i" }}
                            </td>
                            <td>
                                {{ hackathon.end_date|date:"N, d Y H:i" }}
                            </td>
                            <td>
                                {{ hackathon.participants.count }}
                            </td>
                            <td>
                                <a href="/hackathon/{{hackathon.id}}/" class="ci-link mr-2"><i class="fas fa-eye"></i></a>
                                <a href="/hackathon/{{hackathon.id}}/update/" class="ci-link"><i class="fas fa-pen"></i></a>
                            </td>
                          </tr>
                          {% endfor %}
                    </table>
                    {% else %}
                    Nothing to see here.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
