{% extends "base.html" %}
{% load static %}

{% block content %}


{% if competencies %}

<div class="table-responsive">
    <table class="table table-sm mt-5" id="competenciesTable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Perceived Difficulty</th>
            <th scope="col"># Want To Know About It</th>
            <th scope="col"># Learning It</th>
            <th scope="col"># Know It</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for competency in competencies %}
          <tr>
                <td>
                    {{ competency.name }}
                </td>
                <td>
                    {{ competency.perceived_difficulty }}
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                <button>
                    <i class="bi bi-pencil-fill"></i>
                </button>
                <button>
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>
          </tr>
          {% endfor %}
    </table>
</div>


{% else %}
No competencies to self-assess available. 
{% endif %}


{% endblock %}
